/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

main {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 1px solid #e0e0e0; /* Light Gray */
    border-radius: 10px;
    overflow-y: auto; /* Add vertical scrollbar if needed */
}

h1 {
    color: #512da8; /* Deep Purple */
}

section {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #512da8; /* Deep Purple */
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}


main {
    padding: 20px;
}

/* Add styles for the card effect */
.recipe {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px; /* Adjust margin for space between cards */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s; /* Add smooth transition for hover effect */
    display: inline-block; /* Display cards inline */
    width: calc(33.33% - 20px); /* Set width for 3 cards in a row, adjust as needed */
    box-sizing: border-box; /* Include padding and border in the total width */
    text-align: left; /* Align text to the left */
}

/* Adjust image size */
img {
    width: 200px; /* Make the image fill the container */
    height: 150px;
    border-radius: 5px; /* Adjust border-radius if needed */
}

.recipe:hover {
    transform: scale(1.05); /* Increase size on hover */
}

/* Customize styles for recipe details */
.recipe h2 {
    color: #333;
    margin-bottom: 10px;
}

.recipe ul {
    list-style: none;
    padding: 0;
}

.recipe li {
    margin-bottom: 8px;
}

/* Styles for about.html */
.about-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
   
    margin: 20px;
}

.about-container h2 {
    
    margin-bottom: 10px;
}

.about-container p {
  
    line-height: 1.6;
}

/* Rest of your existing styles */


