body {
    font-family: 'Arial', sans-serif;
    margin: 10;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

/* Styles for the card effect */
.recipe {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px auto; /* Center-align the card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: block;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    text-align: left;
}

/* Adjust image size */
.recipe img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.recipe:hover {
    transform: scale(1.05);
}

/* Customize styles for recipe details */
.recipe h2 {
    color: #333;
    margin-bottom: 10px;
}

.recipe ul {
    list-style: none;
    padding: 0;
}

.recipe li {
    margin-bottom: 8px;
}

/* Styles for the text box */


/* Styles for the dropdowns */
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 300px;
}

/* Optional: Style the options within the dropdown */
select option {
    background-color: #ffffff;
    color: #333;
}

/* Styles for the button container */
/* Styles for the text box */
/* Styles for the text box */
#generator {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto; /* Center horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styles for the button container */
.generator-container {
    position: relative;
    height: 100vh; /* Adjust if needed */
}



/* Styles for the button */
#generateButton {
    padding: 15px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect for the button */
#generateButton:hover {
    background-color: #45a049;
}

/* Styles for the dropdown container */
.dropdown-container {
    display: flex;
    flex-wrap: wrap;
}

/* Styles for the labels and dropdowns */
label {
    margin-right: 10px;
}

select {
    margin-bottom: 10px;
    flex: 1;
    max-width: 200px;
}


